.memberShip {
  width: 100%;
  background-color: black;
  color: #ffff;
  padding: 1rem;
  box-shadow: 0px 0px 5px rgb(28, 29, 29);
  margin-top: 1rem;
  border-radius: 5px;
}
.memberShip h1 {
  text-align: center;
  margin-bottom: 10px;
}
.memberShip div {
  background-color: rgb(4, 61, 61);
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 0 0.5rem;
  cursor: pointer;
}
.memberShip div div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.memberShip div div .price {
  margin-left: auto;
  background: rgb(13, 75, 75);
}

/* gymDetailsWrapper  */

.gymDetailsWrapper {
  max-width: 100vw;
  background-color: black;
  color: #ffff;
  display: flex;
  gap: 1rem;
}
@media screen and (max-width: 800px) {
  .gymDetailsWrapper {
    flex-direction: column;
  }
}
.gymDetailsWrapper .left {
  flex: 1;
}
.gymDetailsWrapper .right {
  flex: 0.8;
}
/* terms */

.terms {
  width: 100%;
}
.terms p {
  text-align: center;
  margin: 10px 0;
  font-size: 21px;
}
.terms div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.terms div div {
  background: rgb(219, 159, 159);
  padding: 0.3rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
}
.terms div div img {
  width: 100px;
  height: 100px;
}
/* works */

.works {
  padding: 1rem;
}
.works h1 {
  text-align: center;
  font-size: 21px;
  font-weight: 500;
}
.works div {
  margin-bottom: 5px;
}
/* details */
.detailWrapper {
  width: 100%;
  padding: 2rem;
  display: flex;
}
.detailWrapper div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.detailWrapper div .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.detailWrapper .location {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.detailWrapper div h5 {
  font-size: 18px;
}

/* rateing */
.rateing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
}
.rateing div {
  display: inline-block;
}
.rateing div p {
  text-align: center;
}
/* back Button */
.backBtn {
  background-color: black;
  max-width: 100%;
  color: #ffff;
}
.backBtn button {
  background: transparent;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 21px;
}
